section#fileDownload{
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}
section h2{
    margin-bottom: 20px;
    font-size: 30px;
    color: #333;
}
div.filesWrapper ul li{
    list-style-type: none;
    font-size: 20px;
    margin: 10px;
}
div.btnWrapper button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 150px;
    font-size: 20px;
}
div.btnWrapper button[type="submit"]:hover {
    background-color: #218838;
}