/* Upload Section Start Here  */
#fileDownload {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;

}
#fileDownload h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
div.error{
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
#fileDownload form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form label{
    font-size: 20px;
    margin-bottom: 10px;
}

#fileDownload input{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
    font-size: 20px;
}

#fileDownload button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 150px;
    font-size: 20px;
}
#fileDownload button[type="submit"]:hover {
    background-color: #218838;
}
