<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing</title>
    <link rel='stylesheet' href="/static/css/download.css"/>
</head>
<body>
    <header>
        <div class="logo">
            <h1>File Sharing</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/download">Download</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="fileDownload">
            <h2>Download File</h2>
            {% if error %}
            <div class="error">{{error}}</div>
            {% endif %}
            <form action="#" method="post">
                {% csrf_token %}
                <label for="download">Enter a File ID: </label>
                <input type="text" name="fileid" id="download" placeholder="Enter a File ID"/>
                <button type="submit">Download</button>
            </form>
        </section>
    </main>
</body>
</html>