<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing</title>
    <link rel='stylesheet' href="/static/css/downloadfile.css"/>
</head>
<body>
    <header>
        <div class="logo">
            <h1>File Sharing</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/download">Download</a></li>
            </ul>
        </nav>
    </header>
    <main>
    {% if file %}
        <section id="fileDownload">
            <h2>Files</h2>
            <div class="filesWrapper">
                <ul>
                        <li>
                            {{file.filename}}
                        </li>
                </ul>
            </div>  
            <div class="btnWrapper">
                <form action="#" method="post">
                    {% csrf_token %}
                    <input type="text" name="slug" value="{{file.slug}}" hidden>
                    <button type="submit">Download</button>
                </form>
            </div>
        </section>
        {% else %}
        
        {% endif %}
    </main>
</body>
</html>