{% extends "base.html" %}
    {% block addingfiles %}
    <link rel='stylesheet' href="/static/css/download.css"/>
    {% endblock addingfiles %}

    {% block mainsection %}
        <section id="fileDownload">
            <h2>Download File</h2>
            {% if error %}
            <div class="error">{{error}}</div>
            {% endif %}
            <form action="#" method="post">
                {% csrf_token %}
                <label for="download">Enter a File ID: </label>
                <input type="text" name="fileid" id="download" placeholder="Enter a File ID"/>
                <button type="submit">Download</button>
            </form>
        </section>
         {% endblock mainsection %}
