{% extends "base.html" %}
    {% block addingfiles %}
    <link rel='stylesheet' href="/static/css/index.css"/>
    <script defer src="/static/js/index.js"></script>
    {% endblock addingfiles %}

    {% block mainsection %}

        <section id="fileupload">
            <h2>Upload File</h2>
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %} 
                <input type="file" name="file" required>
                <button type="submit" name="submit">Upload</button>
            </form>
        
            
        </section>
        {% if status %}
        <section id="successMessage">
            <div class="messageSection">
                <div class="status">
                    <p id="status"></p>
                </div>
                {% if status == "success" %}
                    <div class="message">
                        <p>File Uploaded URL:
                            <div class="url">
                                <url id="url">{{slug}}</url><br/>
                                <span id="urlcopy">Copy</span>
                            </div>
                        </p>
                        <p>File ID: 
                            <div class="url">
                            <strong id="fileid">{{fileid}}</strong><br/>
                            <span id="fileidcopy">Copy</span>
                        </div></p>
                    </div>
                {% endif %}
            {% if status == "error" %}
            <div class="message">
                <p>{{message}}</p>
            </div>
        {% endif %}

        </div>
        </section>
        {% endif %}
        {% endblock mainsection %}